cookbook/do/compostionOverInheritance/clousures
cookbook/do/compostionOverInheritance/composition/composition.js
cookbook/do/compostionOverInheritance/factoryFunctions
cookbook/do/returnEverything.js
cookbook/do/ point-free programming.js
cookbook/avoid